aiohttp==3.7.4.post0
altgraph==0.17
appdirs==1.4.4
asgiref==3.3.4
astroid==2.5
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
defusedxml==0.7.1
discord==1.0.1
discord.py==1.7.2
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2.2
django-allauth==0.44.0
django-bootstrap-form==3.4
django-bootstrap4==3.0.1
django-heroku==0.3.1
django-model-utils==4.1.1
django-multiselectfield==0.1.12
filelock==3.0.12
future==0.18.2
idna==2.10
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
multidict==5.1.0
numpy==1.21.4
oauthlib==3.1.0
pefile==2019.4.18
pqdict==1.1.1
psycopg2==2.9.2
pycparser==2.20
pyinstaller==4.3
pyinstaller-hooks-contrib==2020.11
PyJWT==2.1.0
pylint==2.6.0
python3-openid==3.2.0
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
requests-oauthlib==1.3.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
virtualenv==20.4.6
whitenoise==5.3.0
wrapt==1.12.1
yarl==1.6.3
gunicorn==20.1.0
