{% extends 'base/base.html'  %}
{% load static %}
{% block main %}
    <div class="row" id="resultado">
        <div class="col-12 col-lg-12">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                    <h2 class="fs-5 fw-bold mb-0">Atividades requeridas</h2>
                        <div class="d-flex justify-content-start">
                            <div id="carregando" class="spinner-border me-4" role="status">
                                <span class="visually-hidden">Buscando...</span>
                            </div>
                            <button type="button" onclick="carregando()" class="btn btn-sm btn-primary">Executar atividades</button>
                        </div>
                    </div>
                <div class="card-body" id="barra_porcentagem">
                    <!-- Project 1 -->
                    <div class="row mb-4">
                        <div class="col-auto">
                            <svg class="icon icon-sm text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                        </div>
                        <div class="col">
                            <div class="progress-wrapper">
                                <div class="progress-info">
                                    <div class="h6 mb-0">Importar o banco de dados</div>
                                    <div class="small fw-bold text-gray-500"><span>{{ banco_de_dados }} %</span></div>
                                </div>
                                <div class="progress mb-0">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ banco_de_dados }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ banco_de_dados }}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Project 2 -->
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <svg class="icon icon-sm text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                        </div>
                        <div class="col">
                            <div class="progress-wrapper">
                                <div class="progress-info">
                                    <div class="h6 mb-0">Geração de grafo</div>
                                    <div class="small fw-bold text-gray-500"><span>{{ grafo }} %</span></div>
                                </div>
                                <div class="progress mb-0">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ grafo }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ grafo }}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="info"></div>

{% endblock %}
{% block script %}
/*setInterval(verificar_porcentagem, 1000);
function verificar_porcentagem() {
    var porcentagem = $.get("/porcentagem_banco_importado/", function(data) {
        document.getElementById("barra_porcentagem").innerHTML = data;
    });
}*/
document.getElementById("carregando").style.display = 'none';
function carregando() {
    document.getElementById("carregando").style.display = 'block';
    document.getElementById("info").innerHTML = "<b>Importando... esse processo pode demorar, aguarde um pouco por favor.</b>";
    var jqxhr = $.get("/resultado_banco_importado/", function(data) {
        document.getElementById("resultado").innerHTML = data;
        document.getElementById("carregando").style.display = 'none';
    });
}
{% endblock %}